.deactive{
  display:none;
}
.active{
  display: block;
}
.myInput_box input{
  width: 300px;
  padding: 10px;
  font-size: 16px;
}
.myInput_boxmain{
  display: flex;
  justify-content: center;
  margin: 50px 0;
  align-items: center;
}
.myInput_box button{
  padding: 10px;
  width: 100px;
}
.myInput_box{
  margin: 0 10px;
}
.myInput_edit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.myInput_box_edit .myInput_icon{
  cursor: pointer;
}
.myInput_box_edit{
  margin: 0 5px;
}
.myInput_box h2{
  background-color: red;
  width: 200px;
  height: auto;
  text-align: center;
  color: white;
  padding: 10px;
}
.myInput_box_edit input{
  width: 200px;
  padding: 10px;
  font-size: 16px;
}

@media (max-width:600px) {
  .myInput_box input{
    width: 250px;
    padding: 10px;
    font-size: 16px;
  }
}